<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Minor.Properties.Settings.databaseConnectionString"
      connectionString="Data Source=KEVIN-PC\SQL;Initial Catalog=database;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Minor.Properties.Settings.databaseConnectionString1"
      connectionString="Data Source=sylvia-pc;Initial Catalog=database;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="databaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DENY-ST-PC;Initial Catalog=database;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Minor.Properties.Settings.databaseConnectionString2"
      connectionString="Data Source=DENY-ST-PC;Initial Catalog=database;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>